<h2>Thêm sản phẩm</h2>
<form>
    <div class="form-group">
        <label for="">Name</label>
        <input type="text" class="form-control" aria-describedby="emailHelp" name="name">
    </div>
    <div class="form-group">
        <label for="">Price</label>
        <input type="text" class="form-control" aria-describedby="emailHelp" name="price">

    </div>
    <div class="form-group">
        <label for="">Manufacturer</label>
        <input type="text" class="form-control" aria-describedby="emailHelp" name="Manufacturer">

    </div>
    <div class="form-group">
        <label for="">Production</label>
        <input type="text" class="form-control" aria-describedby="emailHelp" name="Production">

    </div>
    <div class="form-group">
        <label for="">class</label>
        <input type="text" class="form-control" aria-describedby="emailHelp" name="class">

    </div>
    <div class="form-group">
        <label for="">Style</label>
        <input type="text" class="form-control" aria-describedby="emailHelp" name="style">

    </div>
    <div class="form-group">
        <label for="exampleFormControlFile1">file input</label>
        <input type="file" class="form-control-file" id="exampleFormControlFile1" name="img">
    </div>


    <button class="btn btn-primary" routerLink='Manager'>Add Product</button>
</form>